extends layout

block content
  h1= title
  p Use me senpai ^^

  // Wrapper
  #wrapper


    // TOPIC LIST
    h2 Current Hawt Topics
    #topicList
      table
        tbody
    // /TOPIC LIST

    // ADD TOPIC
    h2 Add Topic
    #addTopic
      fieldset
        input#inputTopic(type='text', placeholder='Topic')
        button#btnAddTopic Add Topic
    // /ADD TOPIC



  // /WRAPPER